alembic==1.0.11
backcall==0.1.0
bleach==2.1.4
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
configparser==3.7.4
cycler==0.10.0
databricks-cli==0.8.7
decorator==4.4.0
defusedxml==0.6.0
docker==4.0.2
entrypoints==0.3
Flask==1.1.1
gitdb2==2.0.5
GitPython==2.1.11
gorilla==0.3.0
gunicorn==19.9.0
h5py==2.9.0
html5lib==1.0.1
idna==2.8
imageio==2.5.0
ipykernel==4.10.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
itsdangerous==1.1.0
jedi==0.12.1
Jinja2==2.10.1
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==5.2.0
jupyter-core==4.5.0
kiwisolver==1.1.0
Mako==1.0.13
MarkupSafe==1.1.1
matplotlib==3.0.3
MedPy==0.4.0
mistune==0.8.3
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
notebook==5.6.0
numpy
pandas==0.23.4
pandocfilters==1.4.2
parso==0.5.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==6.1.0
prometheus-client==0.7.1
prompt-toolkit==1.0.15
protobuf==3.9.0
ptyprocess==0.6.0
Pygments==2.4.2
pyparsing==2.4.0
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
pyzmq==17.1.2
qtconsole==4.5.2
querystring-parser==1.2.3
requests==2.22.0
scikit-image
scikit-learn
scikit-optimize
scipy==1.3.0
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
sklearn==0.0
smmap2==2.0.5
SQLAlchemy==1.3.5
sqlparse==0.3.0
tabulate==0.8.3
terminado==0.8.1
testpath==0.3.1
torch==1.1.0
torchvision
tornado==5.1.1
tqdm==4.32.2
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.5
widgetsnbextension==3.4.1
